*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background-image: linear-gradient( rgba(200, 84, 148, 0.479),gray,#e8b271,gray,rgba(200, 84, 148, 0.479),gray,#e8b271);
}

a{
text-decoration:none;
}

button{
cursor:pointer;
}